
.awesome-row {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: center;*/
  justify-content: space-around;
  margin: 0 15px;
}
.awesome-card {
  text-align: center;
  max-width: 350px;
  margin-left: 15px;
  margin-right: 15px;
}

.awesome-card__img {
  border: 1px #D98943 solid;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0 auto 30px;
 }

.picture {
  margin: 20px auto;
  display: block;
}

.awesome-card__img:hover {
  transform: scale(1.25, 1.25);
}


.awesome-card__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  color: #333333;
  margin-bottom: 16px;
  text-align: center;
}

.awesome-card__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  color: #86878b;
  text-align: center;
  margin-bottom: 59px;
}