

.axure-container{
  z-index: 999;
  position: relative;
}

.axure-title {
  color: #FFFFFF !important;
}

.axure-title::after {
  background-color: #FFFFFF !important;
}
.axure-text {
color: rgba(255,255,255, 0.8) !important;
font-family: 'Raleway', sans-serif !important;
font-size: 16px !important;
font-weight: 300 !important;
}

.axure-button {
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  padding: 11px 26px;
  border: 1px solid #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  display: block;
  width: 135px;
}

.axure-button:hover {
  transform: scale(1.25,1.25);

