.axure-container{
  z-index: 999;
  position: relative;
}

.axure-title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 3.5625rem;
}

.axure-title::after {
  content: "";
  position: relative;
  top: 1.5625rem;
  width: 4rem;
  height: 1px;
  background-color: #FFFFFF;
  margin: 0 auto;
  display: block;
}


.axure-text {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: rgba(255,255,255, 0.8);
  margin-bottom: 4.1825rem;
}

.axure-button {
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  padding: 0.6875rem 1.625rem;
  border: 1px solid #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  display: block;
  width: 8.4375rem;
}

.axure-button:hover {
  transform: scale(1.25,1.25);
}
