
.contactus-title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 400;
  text-align: center;
  color: #212121;
  margin-bottom: 3.5625rem;
}

.contactus-title::after {
  content: "";
  position: relative;
  top: 1.5625rem;
  width: 4rem;
  height: 1px;
  background-color: #EC7979;
  margin: 0 auto;
  display: block;
}


.contactus-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  color: #86878B;
  margin-bottom: 4.1825rem;
}
.contactus-form {
  margin: 0 -0.9375rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-color: transparent;
  
}

.registration-form_block {
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.9375rem;
  border-color: transparent;
}

.contactus-textarea-item {
  margin: 0 0.9375rem 0 1.875rem;
  width: 40%;
  
}

.input-item__message {
  height: 13.5rem;
  resize: none;
  overflow: auto;
}

.send-button__message {
background-color:#EC7979;
color: #FFFFFF;
padding: 0.6875rem 2rem;
font-family: 'Open Sans', sans-serif;
font-size: 0.9375rem;
font-weight: 600;
border-color: transparent;
display: block;
margin: 4.1875rem auto 0;
cursor: pointer;
}

.send-button__message:hover {
  transform: scale(1.25,1.25);
}

.form-sub-title {
font-family: 'Open Sans', sans-serif;
font-size: 1.25rem;
font-weight: 700;
  color: #333333;
  line-height: 3.5rem;
  text-align: center;
  width: 100%;
}

.keyword {
text-transform: uppercase;
color: rgb(236, 121, 121);
}

.contactus-form-item {
  width: 100%;
}

.contactus-input-item {
     width: 100%;
    border: #BDBDBD solid 1px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

.contactus-input-item:focus {
  outline: none;
}

.contactus-form-label {
  color:#BDBDBD;
  font-family: 'Open Sans', sans-serif;
font-size: 0.875rem;
font-weight: 400;
}