.firstscreen-container {
  z-index: 999;
  position: relative;
}

.firstsreen-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 -0.9375rem;
}

.firstscreen-information {
  margin: 0 0.9375rem;
  max-width: 34rem;
}

.firstscreen-form {
  margin: 0 0.9375rem;
  width: 23.125rem;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
  border-color: transparent;
}

.firstscreen-logo {
    font-size: 3.75rem;
    padding-bottom: 2rem;
    color:#FFFFFF;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 10%;
}
  
  .firstscreen-logo::after {
    content: "it";
    position: relative;
    top: 0;
    width: 0;
    color: #EC7979;
  }

  .firstscreen-main-title {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 0.9375rem;
    width: 100%;
    padding-bottom: 4.4375rem;
    margin-left: 0;
    }
  
  .firstscreen-main-title::after {
    content: "";
    position: relative;
    top: 2.625rem;
    width: 4rem;
    height: 1px;
    background-color: #FFFFFF;
    margin-left: 0;
    display: block;
  }
  
  .firstscreen-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color:rgba(255, 255, 255, .8);
    max-width: 17.625rem;
    text-align: left;
    margin-bottom: 2rem;
}

.firstscreen-button {
  text-align: center;
  margin-left: 0;
  color: #FFFFFF;
  padding: 0.6875rem 1.625rem;
  border: 1px solid #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  display: block;
  width: 8.4375rem;
 
}

.firstscreen-button:hover {
  transform: scale(1.25,1.25);
}

.reg-button__submit {
  background-color:#EC7979;
  color: #FFFFFF;
  line-height: 3.3125rem;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  border-color: transparent;
  cursor: pointer;
  }

.reg-button {
  width: 100%;
  margin-top: 1.875rem;
}

.form-sub-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #333333;
  line-height: 3.5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 2.75rem;
}

.firstscreen-keyword {
text-transform: uppercase;
color: rgba(236, 121, 121, 1);
}

.firstscreen-form-item {
  padding: 0 3.6875rem;
  margin-bottom: 1.1875rem;
}

.firstscreen-input-item {
  width: 100%;
  border: #BDBDBD solid 1px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.firstscreen-input-item:focus {
  outline: none;
}

.firstscreen-form-label {
  color:#BDBDBD;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
  