

.footer-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto 1.125rem auto;
  max-width: 19.8125rem;
}


.footer-icon__link {
    font-size: 1.4375rem;
    font-weight: 600;
    color: rgba(255,255,255,0.7);
    margin-right: 0.3125rem;  
}

.footer-icon__link:last-child {
    margin-right: 0;
}

.footer-icon:hover {
  transform: scale(1.5,1.5);
}

.footer-icon__link-fb:hover {
  color: #3a5fc7;
}

.footer-icon__link-tw:hover {
  color: #3487e6;
}

.footer-icon__link-gm:hover {
  color: #121fda;
}

.footer-icon__link-pt:hover {
  color: #eb473c;
}

.footer-icon__link-inst:hover {
  color: #793ceb; 
}

.footer-icon__link-su:hover {
  color: #e47814;
}

.footer-icon__link-rss:hover {
  color: #eb823c;
}

.footer-text {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(255,255,255,0.5);
  text-align: center;

}