.header-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 -0.9375rem;
}

.header-logo {
  font-size: 1.875rem;
  margin-left: 0.9375rem;
}

.header-logo__link {
  color:#FFFFFF;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  width: 10%;
}

.header-logo__link::after{
  content: "it";
  position: relative;
  top: 0;
  width: 0;
  color: #EC7979;
}

.header-menu {
   width: 75%;
   margin-right: 0.9375rem;
}

.header-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.header-menu__item {
  margin-left: 2.5rem;
}

.header-menu__link {
  color: rgba(255,255,255,0.7);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  display: block;
  padding: 0.125rem;
  border: transparent 1px solid;
}

.header-menu__link:first-child {
  margin-left: 0; 
}

.header-menu__link:hover {
  border: #FFFFFF 1px solid;
  border-right: none;
  border-top: none; 
  color: #FFFFFF;
}
