.header-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 -15px;

}

.header-logo {
  font-size: 30px;
  margin-left: 15px;
}

.header-menu {
   width: 75%;
   margin-right: 15px;
}

.header-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.header-menu__link {
  color: rgba(255,255,255,0.7);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  display: block;
  padding: 2px;
  border: transparent 1px solid;
  margin-left: 40px;
}


.header-menu__link:first-child {
  margin-left: 0; 
}

.header-menu__link:hover {
  border: #FFFFFF 1px solid;
  border-right: none;
  border-top: none; 
  color: #FFFFFF;
  
}
