
.social-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-left: -15px;

}

.social-information {
  width: 25%;
  margin-left: 15px;
  margin-right: 15px;
}

.social-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 0.875rem;
}

.social-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #86878B;
  width: 100%;
  margin-bottom: 1.0625rem;
  text-align: left;
}


.social-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  max-width: 70%;
  align-items: center;
  margin: 0 0.3125rem;

}

.social-icon__link {
  font-size: 2.625rem;
  font-weight: 600;
  color: rgba(29, 27, 27, 0.2);
}

.social-icon {
  margin: 0 2rem;
}

.social-icon:last-child {
  margin-right: 0;
}

.social-icon:hover {
  transform: scale(1.5,1.5);
}



.social-icon__link-fb:hover {
color: #3a5fc7;

}

.social-icon__link-tw:hover {
color: #3487e6;
}

.social-icon__link-gm:hover {
color: #121fda;
}

.social-icon__link-pt:hover {
color: #eb473c;
}

.social-icon__link-inst:hover {
color: #793ceb; 
}

.social-icon__link-su:hover {
color: #e47814;
}

.social-icon__link-rss:hover {
color: #eb823c;
} 