
.social-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 -15px;

}

.social-information {
  width: 25%;
  margin-left: 15px;
}

.social-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 14px;
}

.social-text {
  max-width: 365px;
  margin-bottom: 17px !important;
  text-align: left !important;
 
}

.social-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 70%;
  align-items: center;
  margin-right: 15px;

}

.social-icon__link {
  font-size: 42px;
  font-weight: 600;
  color: rgba(29, 27, 27, 0.2);
}

.social-icon {
  margin-left: 65px;
}

.social-icon:hover {
  transform: scale(1.5,1.5);
}

.social-icon:first-child {
  margin-left: 0;
}

.social-icon__link-fb:hover {
color: #3a5fc7;

}

.social-icon__link-tw:hover {
color: #3487e6;
}

.social-icon__link-gm:hover {
color: #121fda;
}

.social-icon__link-pt:hover {
color: #eb473c;
}

.social-icon__link-inst:hover {
color: #793ceb; 
}

.social-icon__link-su:hover {
color: #e47814;
}

.social-icon__link-rss:hover {
color: #eb823c;
} 