
.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 14px;
}

.social-text {
  max-width: 365px;
  margin-bottom: 17px !important;
  text-align: left !important;
 

}

.social-row {
  margin: -65px 0 0 525px;
  max-width: 684px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}

.social-icon {
  font-size: 42px;
  font-weight: 600;
  color: rgba(29, 27, 27, 0.2);
}

.social-icon__fb:hover {
color: #3a5fc7;
transform: scale(1.5,1.5);
}

.social-icon__tw:hover {
color: #3487e6;
transform: scale(1.5,1.5);
}

.social-icon__gm:hover {
color: #121fda;
transform: scale(1.5,1.5);
}

.social-icon__pt:hover {
color: #eb473c;
transform: scale(1.5,1.5);
}

.social-icon__inst:hover {
color: #793ceb; 
transform: scale(1.5,1.5);
}

.social-icon__su:hover {
color: #e47814;
transform: scale(1.5,1.5);
}

.social-icon__rss:hover {
color: #eb823c;
transform: scale(1.5,1.5);
}