@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap");
.firstscreen-container {
  z-index: 2;
  position: relative;
}

.firstscreen-main-title {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0 auto 65px;
  text-align: center;
}
@media (max-width: 770px) {
  .firstscreen-main-title {
    font-size: 55px;
  }
}
@media (max-width: 620px) {
  .firstscreen-main-title {
    font-size: 40px;
    margin-bottom: 55px;
  }
}
@media (max-width: 320px) {
  .firstscreen-main-title {
    font-size: 32px;
    margin-bottom: 35px;
  }
}

.firstscreen-text {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 50px;
}
@media (max-width: 620px) {
  .firstscreen-text {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .firstscreen-text {
    font-size: 17px;
  }
}

.firstscreen-button__download {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 13px;
  background-color: #e74545;
  padding: 20px 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 640px) {
  .firstscreen-button__download {
    font-size: 11px;
    padding: 15px 90px;
  }
}
@media (max-width: 320px) {
  .firstscreen-button__download {
    font-size: 11px;
    padding: 15px 60px;
  }
}

.firstscreen-button__download:hover {
  transform: scale(1.25, 1.25);
}

.features-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 -15px;
}

.features-card {
  text-align: center;
  max-width: 300px;
  margin: 0 20px;
}
.features-card .features-card__img {
  width: 64px;
  height: 64px;
  margin: 0 auto 30px;
}
.features-card .features-card__title {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d3033;
  margin-bottom: 25px;
  text-align: center;
}
.features-card .features-card__text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279;
  text-align: center;
  margin-bottom: 75px;
}
@media (max-width: 765px) {
  .features-card .features-card__text {
    margin-bottom: 45px;
  }
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.works-row {
  display: flex;
  flex-flow: row wrap;
}
.works-card {
  border: 1px solid whitesmoke;
  width: 25%;
  max-height: 350px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 992px) {
  .works-card {
    width: 33.3%;
  }
}
@media (max-width: 767px) {
  .works-card {
    width: 50%;
  }
}
@media (max-width: 460px) {
  .works-card {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .works-card:nth-child(7), .works-card:nth-child(8) {
    display: none;
  }
}

@media (max-width: 767px) {
  .works-card:nth-child(5), .works-card:nth-child(6) {
    display: none;
  }
}

@media (max-width: 460px) {
  .works-card:nth-child(3), .works-card:nth-child(4) {
    display: none;
  }
}

.works__img {
  padding: 300px 300px 0px 0px;
  overflow: hidden;
}

.works-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.works-mask {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(232, 69, 69, 0.9);
}
.works-mask a {
  text-decoration: none;
  cursor: pointer;
}

.works-card:hover .works-mask {
  opacity: 0.85;
}

.works-subtitle {
  text-align: center;
  margin-bottom: 10px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  display: block;
}

.works-content {
  font-size: 0.875rem;
  color: #fff;
  display: block;
}

.team-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 -15px;
}

.team-card:last-child {
  margin-bottom: 0;
}

.team-card__img {
  width: 250px;
  height: 250px;
  margin: 0 0 30px 0;
}
@media (max-width: 460px) {
  .team-card__img {
    border-radius: 80%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
  }
}

.team-photo {
  width: 100%;
}

.team-card__title {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #2d3033;
  margin-bottom: 15px;
  text-align: left;
}
@media (max-width: 460px) {
  .team-card__title {
    text-align: center;
  }
}

.team-card__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e74545;
  margin-bottom: 30px;
  text-align: left;
}
@media (max-width: 460px) {
  .team-card__subtitle {
    margin-bottom: 10px;
    text-align: center;
  }
}

.team-card__text {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #6c7279;
  text-align: left;
  margin-bottom: 30px;
}
@media (max-width: 460px) {
  .team-card__text {
    text-align: center;
  }
}

.team-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}
@media (max-width: 460px) {
  .team-list {
    justify-content: center;
  }
}

.team-icon__link {
  font-size: 13px;
  font-weight: 600;
  color: #c5c9cb;
  margin-right: 5px;
  padding: 10px;
  border: 1px solid #c5c9cb;
}

.team-card {
  max-width: 250px;
  margin: 0 20px;
}
@media (max-width: 1200px) {
  .team-card {
    margin: 0 40px 40px;
  }
}
@media (max-width: 460px) {
  .team-card {
    margin-bottom: 70px;
  }
}

.download-title {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 200;
  text-transform: capitalize;
  text-decoration: underline;
  color: #6c7279;
  margin-bottom: 20px;
  text-align: center;
}

.download-text {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #2d3033;
  margin-bottom: 40px;
}

.download-button__download {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 13px;
  background-color: #e74545;
  padding: 17px 85px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.download-button__download:hover {
  transform: scale(1.25, 1.25);
}

.footer-part1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 -15px;
  padding-bottom: 115px;
}
@media (max-width: 767px) {
  .footer-part1 {
    justify-content: space-around;
    padding-bottom: 0;
  }
}

.footer-icons {
  max-width: 140px;
}

.footer-item {
  max-width: 220px;
  margin-right: 40px;
}
@media (max-width: 767px) {
  .footer-item {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) and (max-width: 470px) {
  .footer-item {
    margin: 0 40px 50px 40px;
  }
}

.footer-item:last-child {
  margin-right: 0;
}
@media (max-width: 470px) {
  .footer-item:last-child {
    margin: 0 40px 30px 40px;
  }
}

.footer-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 23px;
  text-align: center;
}

.footer-text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #6c7279;
  text-align: center;
}

.footer-text-1 {
  margin-bottom: 10px;
}

.heart {
  color: #e74545;
}

.author {
  color: #FFFFFF;
}

.footer-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer-icon__link {
  font-size: 13px;
  font-weight: 600;
  color: #FFFFFF;
  margin-right: 5px;
  padding: 10px;
  border: 1px solid #FFFFFF;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 970px) {
  .container {
    max-width: 770px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 320px) {
  .container .container {
    max-width: 85%;
  }
}

.viewport {
  background: url("../img/bg/firstscreenbg.png") no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.viewport:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(43, 45, 73, 0.9);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.firstscreen {
  width: 100%;
  padding: 230px 0 154px 0;
}
@media (max-width: 640px) {
  .firstscreen {
    padding: 130px 0 54px 0;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  background-color: transparent;
}

.header-container {
  position: relative;
  z-index: 1;
}

.header.fixed {
  background-color: #2b2d49;
}

.header-row {
  padding: 25px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.header-row::after {
  content: "";
  position: absolute;
  width: 90%;
  top: 100%;
  left: 0;
  display: block;
  border: solid #FFFFFF 1px;
  margin: 0 5%;
}

.header-logo {
  margin: auto 0;
  cursor: pointer;
  z-index: 999;
}

.header-menu {
  max-width: 90%;
}

.header-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
@media (max-width: 770px) {
  .header-list {
    display: none;
  }
}

.header-menu__item {
  margin-right: 35px;
}
@media (max-width: 870px) {
  .header-menu__item {
    margin-right: 25px;
  }
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__link {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 600;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  right: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .burger-menu__list {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: none;
}
@media (max-width: 770px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 10%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 999;
  }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.burger-menu__list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 80px 0;
  background-color: #2b2d49;
  transition-duration: 0.25s;
  z-index: 15;
}

.burger-menu__link {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  padding: 35px 0;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  transition-duration: 0.25s;
}

.burger-menu__link:hover {
  border: 1px solid #FFFFFF;
  padding: 35px 150px;
  background-color: #CFD8DC;
  color: #2b2d49;
}

.features {
  padding: 120px 0 50px 0;
}
@media (max-width: 620px) {
  .features {
    padding: 60px 0 30px 0;
  }
}

.works {
  margin: 0 -15px;
}

.team {
  padding: 105px 0;
}
@media (max-width: 460px) {
  .team {
    padding: 50px 0;
  }
}

.download {
  padding: 100px 0;
}
@media (max-width: 470px) {
  .download {
    padding: 50px 0;
  }
}

.footer {
  padding: 70px 0 28px 0;
  background-color: #393d63;
}
@media (max-width: 470px) {
  .footer {
    padding: 40px 0 28px 0;
  }
}

.clients {
  background-color: #533549;
}
@media (max-width: 767px) {
  .clients {
    padding: 20px 0;
  }
}
@media (max-width: 460px) {
  .clients {
    padding: 15px 0;
  }
}
.clients .clients__photo {
  width: 50%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .clients .clients__photo {
    width: 45%;
    height: 250px;
    margin: 25px auto;
    border-radius: 50%;
  }
}
@media (max-width: 460px) {
  .clients .clients__photo {
    width: 40%;
    height: 160px;
    margin: 5px auto;
    border-radius: 50%;
  }
}
.clients__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .clients__img {
    object-fit: cover;
    object-position: 50% 0;
  }
}
.clients .clients__content {
  padding: 6.25rem 0rem 11.25rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
@media (max-width: 767px) {
  .clients .clients__content {
    width: 100%;
    padding: 5px 45px;
    align-items: center;
  }
}
@media (max-width: 460px) {
  .clients .clients__content {
    padding: 5px 30px;
  }
}
.clients .clients__text {
  font-family: "Cardo", serif;
  font-size: 2.25rem;
  -webkit-text-decoration: italic;
          text-decoration: italic;
  margin-bottom: 2.8125rem;
  color: #ffffff;
  max-width: 62%;
}
@media (max-width: 767px) {
  .clients .clients__text {
    max-width: 80%;
    margin: 0 auto 2rem;
    text-align: center;
    font-size: 1.8rem;
  }
}
@media (max-width: 460px) {
  .clients .clients__text {
    max-width: 80%;
    margin: 0 auto 1.5rem;
    text-align: center;
    font-size: 1.1rem;
  }
}
.clients .clients__author {
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
@media (max-width: 460px) {
  .clients .clients__author {
    font-size: 0.5rem;
  }
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider {
  position: relative;
}
.slider__item {
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px) {
  .slider__item {
    flex-direction: column;
  }
}
.slider .slick-arrow {
  font-size: 0;
}
.slider .slick-dots {
  display: flex;
  position: absolute;
  top: 80%;
  right: 30%;
}
@media (max-width: 767px) {
  .slider .slick-dots {
    top: 90%;
    right: 40%;
  }
}
@media (max-width: 460px) {
  .slider .slick-dots {
    top: 85%;
    right: 37%;
  }
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}
.slider .slick-dots li .slick-active button {
  opacity: 1;
}
.slider .slick-dots li .slick-hover button {
  border: 1px solid #fff;
  cursor: pointer;
}
.slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
  border: none;
}