.download-title {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 200;
  text-transform: capitalize;
  text-decoration: underline;
  color: $grey;
  margin-bottom: 20px;
  text-align: center;
}

.download-text {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $black;
  margin-bottom: 40px;
}

.download-button__download {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: $white;
  font-size: 13px;
  background-color: $red;
  padding: 17px 85px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  }
  
  .download-button__download:hover {
  transform: scale(1.25,1.25);
  }