$white: #FFFFFF;
$red: #e74545;

.firstscreen-container {
  z-index: 999;
  position: relative;
}

.header-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid $white;
  @media (max-width: 970px) {
    
  }
 
}

.header-logo {
  margin: 35px 0;
  @media (max-width: 970px) {
    margin: 35px auto;
  }
 
}

.header-menu {
  width: 75%;

}

.header-list {
 display: flex;
 flex-flow: row wrap;
 justify-content: flex-end;
 align-items: center;
 @media (max-width: 970px) {
  display: none;
}
}

.header-menu__item {
 margin: 35px 35px;
}

.header-menu__link {
 color: $white;
 font-family: 'Raleway', sans-serif;
 font-size: 13px;
 font-weight: 600;
 display: block;
 text-transform: uppercase;
 

}

.header-menu__item:last-child {
 margin-right: 0; 
}

.firstscreen-block-part {
  max-width: 1000px;
  margin: 155px auto 0 auto;
  @media (max-width: 620px) {
    margin: 70px auto 0 auto;
  }
  @media (max-width: 320px) {
    margin: 50px auto 0 auto;
  }
}
.firstscreen-main-title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
  color: $white;
  margin-bottom: 65px;
  text-align: center;
  @media (max-width: 770px) {
    font-size: 55px;
  }
  @media (max-width: 620px) {
    font-size: 45px;
    margin-bottom: 55px;
  }
  @media (max-width: 320px) {
    font-size: 32px;
    margin-bottom: 35px;
  }
}

.firstscreen-text {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  text-align: center;
  color: $white;
  margin-bottom: 50px;
  @media (max-width: 620px) {
    margin-bottom: 30px;
  }
  @media (max-width: 320px) {
    font-size: 17px;
  }
}

.firstscreen-button__download {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: $white;
  font-size: 13px;
  background-color: $red;
  padding: 20px 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  @media (max-width: 320px) {
    font-size: 11px;
    padding: 15px 40px;
  }
  }
  
  .firstscreen-button__download:hover {
  transform: scale(1.25,1.25);
  }
