

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');

@import "firstscreen.scss";
@import "features.scss";
@import "works.scss";
@import "team.scss";
@import "clients.scss";
@import "download.scss";
@import "footer.scss";




* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 1200px) {
    max-width: 970px;
  }
  @media (max-width: 970px) {
      max-width: 750px;
    }
  @media (max-width: 767px) {
        max-width: 90%;
      }
  @media (max-width: 320px) {
        .container {
          max-width: 85%;
        }
}
}



.firstscreen {
  max-width: 100%;
  background-image: url('../img/bg/firstscreenbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 154px 0;
  position: relative;
  @media (max-width: 620px) {
    padding: 0 0 80px 0;
  }
  @media (max-width: 320px) {
    padding: 0 0 60px 0;
  }
}


.firstscreen::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(43, 46, 74, 0.95);
}

.features {
  padding: 120px 0 50px 0;
  @media (max-width: 620px) {
    padding: 60px 0 30px 0;
  }
}

.works {
margin: 0 -15px;
}

.team {
  padding: 105px 0;
  @media (max-width: 320px) {
    padding: 50px 0;
  }
}


.download {
  padding: 100px 0;
}

.footer {
  padding: 70px 0 28px 0;
  background-color: $light-blue;
}

.slider {
  position: relative;
}

.slick-slider{
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items:flex-start;
}

.slider .slick-arrow{
  position: absolute;
  top: 50%;
  z-index: 999;
  font-size: 0;
}

.slick-arrow.slick-prev{
  left: 0;
}

.slick-arrow.slick-next{
  right: 0;
}

.slick-dots{
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-right:350px;
  margin-top: -80px;
}
.slick-dots li{
  list-style: none;
  margin: 0 10px;
}

.slider__item img{
	max-width: 100%;
}

.slick-dots button{
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(155, 155, 155, 0.4);
  opacity: 0.4;
  border-radius: 50%;
  border-color: transparent;
}

.slider .slick-dots li.slick-active button{
	background-color: #fff;
	border-color: transparent;
 
}


.client-photo {
  width: 50%;
  height: 500px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}



.slider__left-part {
  background-color: #53354a;  
}

.slider-text {
  max-width: 600px;
  margin-top: 115px ;
  margin-left: 85px;
  margin-bottom: 134px;
  margin-right: 105px;
}

.slider-message {
color: white;
font-family: "Cardo", serif;
font-size: 36px;
font-weight: 400;
text-align: left;
margin-bottom: 40px;
width: 500px;

}

.slider-client-name {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
}
