
.team-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 -15px;
 
  
}
@mixin team-card {
  
  max-width: 250px;
  margin: 0 20px;

  @media (max-width: 1200px) {
    margin: 0 40px 40px;
  }
  @media (max-width: 460px) {
    margin-bottom: 70px;
    
  }}

  .team-card:last-child {
    margin-bottom: 0;
    }


  .team-card__img {
    width: 250px;
    height: 250px;
    margin: 0 0 30px 0;
    @media (max-width: 460px) {
      
      border-radius: 80%;
      overflow: hidden;
      width: 150px;
    height: 150px;
    margin: 0 auto 20px;
      
    }
   }

   .team-photo {
     width: 100%;
   }

  

   .team-card__title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: $black;
    margin-bottom: 15px;
    text-align: left;
    @media (max-width: 460px) {
      text-align: center;
    }
  }

  .team-card__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: $red;
    margin-bottom: 30px;
    text-align: left;
    @media (max-width: 460px) {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  
  .team-card__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: $grey;
    text-align: left;
    margin-bottom: 30px;
    @media (max-width: 460px) {
      text-align: center;
    }
  }
  .team-list {
    display: flex;
    flex-flow: row wrap;
    justify-content:left;
    @media (max-width: 460px) {
      justify-content: center;
    }
  
  }
  
  
  .team-icon__link {
      font-size: 13px;
      font-weight: 600;
      color: #c5c9cb;
      margin-right: 5px; 
      padding: 10px;
      border: 1px solid #c5c9cb; 
  }


.team-card {
  @include team-card ();
}